body{
  background-image: url('./components/photorock.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
#div1{
  text-align: center;
  width: 60vh;
  height: 90vh;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 40px;
  border-radius: 40px;
  background-color: rgb(206, 230, 226);
  
}
.heading{
  color: rgb(10, 10, 9);
  font-size: 48px;
  margin-bottom: 40px;
}